.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0.5rem 1rem;
  background-color: white;
  border-bottom: 1px solid black;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.nav-button-link,
.nav-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

.nav-button-link:hover,
.nav-buttons button:hover {
  background-color: #ddd;
}